.emre {
    text-align: center;
    font-size: 25px;
    color: orange;
    
}

li {
    list-style-position: inside;
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
    
    
}

.seymen {
    text-align: center;
}